<div class="col-md-12">
  <a class="btn btn-primary mb-3" href="Areas">Areas</a>
  <a class="btn btn-success mb-3" href="Employees">Empleados</a>

  <h1>Gestionar Roles</h1>
  <a class="btn btn-info mb-3" href="Roles/Create">Crear Rol</a>

  <div class="mat-elevation-z8">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="searchRoles()" placeholder="Ex. ium" #input [(ngModel)]="dataTable.search">
    </mat-form-field>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Columna Id -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Columna Nombres -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Columna Fecha de Creacion -->
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef> Fecha de Creacion </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
          </ng-container>

          <!-- Columna Fecha de ult. Actualizacion -->
          <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef> Fecha de ult. Actualizacion</th>
            <td mat-cell *matCellDef="let element"> @if(element.created_at != element.updated_at && element.updated_at != null) { {{element.updated_at}} } </td>
          </ng-container>

          <!-- Columna Acciones -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <button class="btn btn-info" (click)="edit(element.id)">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

      <!-- Paginador para implemetar lazy loading -->
    <mat-paginator
      [pageSize]="dataTable.perPage"
      [pageSize]="dataTable.per_page"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [length]="dataTable.total"
      (page)="onPageChange($event)"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
