.primary-button {
    background-color: #0D6EFD;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: #0a66f2;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    .icon {
        display: grid;
        place-content: center;
    }

    span {
        color: white;
    }
}